.jobs-container {
  padding-left: 0px;
}
.failure-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jobs-failure-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}
.jobs-failure-heading {
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.jobs-fail-text {
  font-family: Roboto;
  font-size: 14px;
  color: #cbd5e1;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}
.jobs-fail-button {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  border-width: 0px;
  background-color: #6366f1;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.jobs-search-container {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .desktop-search {
    display: none;
  }
  .failure-loader-container {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .all-jobs-container {
    width: 70%;
    padding: 25px 20px 25px 25px;
  }
  .desktop-search {
    max-width: 400px;
    margin-bottom: 20px;
  }
  .failure-loader-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .jobs-failure-heading {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .jobs-fail-text {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .jobs-search-container {
    margin-top: 0px;
  }
}
