.search-container {
  display: flex;
  align-items: center;
  background-color: #272727;
  border: #7e858e solid 1px;
  border-radius: 5px;
  width: 100%;
}
.search-icon {
  width: 18px;
  height: 18px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}

.search-bar {
  width: 90%;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  background-color: #000000;
  height: 35px;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Roboto;
  color: #ffffff;
}
.search-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
